name: ci

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  x86_64-linux-gnu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: mlugg/setup-zig@v2
      - name: Deps
        run: |
          sudo apt update
          sudo apt install -y wayland-protocols libwayland-client0 pkg-config libwayland-dev
      - name: Build
        run:  zig build -Dtarget=x86_64-linux-gnu -Doptimize=ReleaseSafe --summary all
