name: Generate Release

on:
  workflow_dispatch:
    inputs:
      release_type:
        description: "Select release type"
        required: true
        default: "patch"
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  x86_64-linux-gnu:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      attestations: write
    steps:
      - uses: actions/checkout@v4
      - uses: mlugg/setup-zig@v2
      - name: Deps
        run: |
          sudo apt update
          sudo apt install -y wayland-protocols libwayland-client0 pkg-config libwayland-dev

      - name: Update version in build.zig.zon
        id: update-version
        run: |
          new_version=$(./version.sh ${{ github.event.inputs.release_type }})
          # Commit the change
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add build.zig.zon
          git commit -m "Bump version to $new_version"
          git tag -a "v$new_version" -m "v$new_version"
          git push origin main --tags
          echo "new_version=$new_version" >> $GITHUB_ENV
          echo "new_version=$new_version" >> $GITHUB_OUTPUT

      - name: Build
        run: |
          zig build -Dtarget=x86_64-linux-gnu -Doptimize=ReleaseSafe --summary all --build-id
          mv ./zig-out/bin/clipz{,"-x86_64-linux-gnu-$new_version"}

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: "./zig-out/bin/clipz-x86_64-linux-gnu-${{ steps.update-version.outputs.new_version }}"

      - name: Create Release
        run: |
          gh release create "v$new_version" --title "v$new_version" --notes "Automated release for version $new_version" ./zig-out/bin/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
